<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seahyun.fingerlock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/fingerlock"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchTabPreview"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PinAppRegister" />
        <activity android:name=".PinPassword" />
        <activity android:name=".PinLock"/>
        <activity android:name=".PinSettingActivity" />
        <activity android:name=".RE_PinPassword" />
        <activity android:name=".TouchTabLockScreen" />
        <activity android:name=".ColorTabLockScreen" />
        <activity android:name=".TouchTabSettingActivity" />
        <activity android:name=".ColorTabSettingActivity" />
        <activity
            android:name=".ColorTabPreview"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ApplicationSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ApplicationSelectionPINActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".TouchTabFourActivity" />
        <activity android:name=".TouchTabFiveActivity" />
        <activity android:name=".TouchTabSixActivity" />
        <activity android:name=".TouchTabFourPassword" />
        <activity android:name=".RE_TouchTabFourPassword" />
        <activity android:name=".TouchTabFivePassword" />
        <activity android:name=".RE_TouchTabFivePassword" />
        <activity android:name=".TouchTabSixPassword" />
        <activity android:name=".RE_TouchTabSixPassword" />
        <activity android:name=".ColorTabFourActivity" />
        <activity android:name=".ColorTabFiveActivity" />
        <activity android:name=".ColorTabSixActivity" />
        <activity android:name=".ColorTabFourPassword" />
        <activity android:name=".RE_ColorTabFourPassword" />
        <activity android:name=".ColorTabFivePassword" />
        <activity android:name=".RE_ColorTabFivePassword" />
        <activity android:name=".ColorTabSixPassword" />
        <activity android:name=".RE_ColorTabSixPassword" />
        <activity android:name=".FingerprintSettingActivity" />
        <service android:name=".SimpleService"/>
        <activity android:name=".FingerprintEditActivity" />
        <activity android:name=".FingerprintLockScreen" />
        <activity android:name=".FingerReadActivity"></activity>


    </application>

</manifest>