<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seahyun.fingerlock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchTabPreview"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PinAppRegister" />
        <activity android:name=".PinPassword" />
        <activity android:name=".PinLock" />
        <activity android:name=".PinSettingActivity" />
        <activity android:name=".RE_PinPassword" />
        <service android:name=".SimpleService" />
=======
        <activity android:name="touchtab_lockscreen"></activity>
        <activity android:name=".TouchTabSettingActivity"></activity>
        <activity android:name=".ColorTabSettingActivity"></activity>
        <activity android:name=".ColorTabPreview" android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".ApplicationSelectionActivity"
            android:theme = "@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TouchTabFourActivity"></activity>
        <activity android:name=".TouchTabFiveActivity"></activity>
        <activity android:name=".TouchTabSixActivity"></activity>
        <activity android:name=".TouchTabFourPassword"></activity>
        <activity android:name=".RE_TouchTabFourPassword"></activity>
        <activity android:name=".TouchTabFivePassword"></activity>
        <activity android:name=".RE_TouchTabFivePassword"></activity>
        <activity android:name=".TouchTabSixPassword"></activity>
        <activity android:name=".RE_TouchTabSixPassword"></activity>
        <activity android:name=".ColorTabFourActivity"></activity>
        <activity android:name=".ColorTabFiveActivity"></activity>
        <activity android:name=".ColorTabSixActivity"></activity>
        <activity android:name=".ColorTabFourPassword"></activity>
        <activity android:name=".RE_ColorTabFourPassword"></activity>
        <activity android:name=".ColorTabFivePassword"></activity>
        <activity android:name=".RE_ColorTabFivePassword"></activity>
        <activity android:name=".ColorTabSixPassword"></activity>
        <activity android:name=".RE_ColorTabSixPassword"></activity>
        <service android:name="SimpleService"></service>
    </application>

</manifest>